<template name="Login">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO: remove login div and use atForm only -->
    <div class="login">
        <div class="container centered">
            <img src="logo-login.png">
            <!--<h2 class="lato bold">Log In</h2>
            <div class="at-form">
        <div class="at-oauth">
        <button class="btn azure facebook at-social-btn" id="at-facebook" name="facebook"><i class="fa fa-facebook"></i><p>Connect with Facebook</p></button>
          <ul>
            <li class="btn valencia google-plus"><p>Connect with Google</p></li>
          </ul>
        </div>
      </div>-->
            {{> atForm}}
        </div>
    </div>
</template>
