<template name="Login">
    <!-- TODO: remove login div and use atForm only -->
    <div class="login">
        <div class="container centered">
            <img src="logo-login.png">
            <!--<h2 class="lato bold">Log In</h2>
            <div class="at-form">
        <div class="at-oauth">
        <button class="btn azure facebook at-social-btn" id="at-facebook" name="facebook"><i class="fa fa-facebook"></i><p>Connect with Facebook</p></button>
          <ul>
            <li class="btn valencia google-plus"><p>Connect with Google</p></li>
          </ul>
        </div>
      </div>-->
            <div class="at-form">
                <div class="at-title">
                    <h3>Sign In</h3>
                </div>
                <div class="at-oauth">
                    <button class="at-social-btn" id="at-facebook" name="facebook">
                        <i class="fa fa-facebook"></i> Configure Facebook
                    </button>
                    <button class="at-social-btn" id="at-google" name="google">
                        <i class="fa fa-google"></i> Configure Google
                    </button>
                </div>
                <div class="at-signup-link">
                    <p>
                        Don't have an account?
                        <a href="#" id="at-signUp" class="at-link at-signup">Register</a>
                    </p>
                </div>
            </div>
            {{> atForm}}
        </div>
    </div>
</template>
