body{
  margin: 0;
  padding: 0;
  width: 100%;
}
.main-header{
  padding-top: 2%;
  background-color: #454545;
  color: white;
  width: 100%;
  display: inline-block;
  position: relative;
  min-height: 55px;
}
.profile-toggle{
  background-image: url('menu.png');
  background-size: 30% 18px;
  background-position: top center;
  background-repeat:no-repeat;
  margin-top: 10px;
  float: left;
  width: 20%;
  padding-left: 10px;
  &:after{
    display: block;
    content: "";
    padding-top: 100%;
  }
}
.title{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
  width: 60%;
  font-size: 18px;
}
.search{
  background-image: url('search icon-menu.png');
  background-size: 30% 30%;
  background-position: top center;
  background-repeat:no-repeat;
  text-align: right;
  margin-top: 10px;
  float: left;
  width: 20%;
  &:after{
    display: block;
    content: "";
    padding-top: 100%;
  }
}
.swiper-head{
  text-align: center;
  position: absolute;
  width: 33.3%;
  height: 50px;
  bottom: 0;
  line-height: 50px;
}
.swiper-body{
  height: 85%;
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.quest-body{
  height: 85%;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: scroll;
  a{
    color: #84C63B;
    font-size: 18px;
    text-decoration: underline;
  }
  .complete-bar {
    background: $stone;
    width: 180px;
    height: 7px;
    border-radius: 10px;
    margin-left: 30%;
  }
  .completed {
    background: $shamrock;
    width: 15%;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  .complete-amount {
    margin-left: 30%;
    p {
      font-size: 16px;
      display: inline-block;
      padding-right: 3px;
    }
    .amount {
      color: $shamrock;
    }
  }
}
.quest-image{
  width: 100%;
  height: 35%;
  background-size: 100% auto;
  .label {
    background: #84C63B;
	  padding: 3px 10px;
	  position: absolute;
	  top: 30px;
	  color: white;
	}
}
.quest-image-footer{
  width: 100%;
  height: 15%;
  background: black;
  position: relative;
  z-index: 0;
}
.creator{
  z-index: 1;
  border: 2px solid #84C63B;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  width: 20%;
  left: 20px;
  background-size: 180% 180%;
  background-position: top right -30px;
  &:after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
.quest-master{
  font-size: 22px;
  margin-left: 30%;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  color: white;
  span{
    color: #84C63B;
    text-decoration: underline;
  }
}
.your-quest{
  padding: 5px 0 0 10px;
  margin-top: 30px;
  height: 30px;
  width: 100%;
  background-color: #b4b4b4;
}
.quest-location{
  border: 1px solid #afafaf;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  p{
    float: left;
    width: 51%;
  }
  .unlock{
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: #00aaff;
    margin-right: 5%;
    width: 25%;
    float: right;
    height: 100%;
    border-radius: 25px;
    border: 1px solid #00aaff;
  }
  .unlocked{
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: white;
    background-color: #00aaff;
    margin-right: 5%;
    width: 30%;
    float: right;
    height: 100%;
    border-radius: 25px;
  }

}
.clear-fix{
  width: 100%;
  height: 1px;
  clear: both;
}
.quest-loc-list{
  margin-top: 0;
  width: 100%;
}
