<template name='quests'>
  {{> header swiperHead=false}}
  <div class="quest-body">
    {{#with quest}}
    <div class="quest-image" style="background-image: url({{image}});background-size:cover;">
      <div class="{{label}} label">{{categoryName}}</div>
    </div>
    <div class="creator" style="background-image: url(../questbot.png);"></div>
    <div class="quest-image-footer">
      <div class="quest-master">Quest Master: <span class='master-name'>Quest Bot</span></div>
    </div>
    <div class="complete-bar">
      <div class="completed" style="width: {{percent _id}}"></div>
    </div>
    <div class="complete-amount">
      <p class="amount oswald">{{countCompletedQuest _id}}/{{totalLocations}}</p><p class="oswald">COMPLETED</p>
    </div>
    <div class='your-quest'>YOUR QUEST</div>
    {{/with}}
    <ul class='quest-loc-list'>
      {{#each locations}}
        <li class='quest-location'>
          <p><a href={{url}}>{{name}}</a></p>
          <p class="unlock-status {{unlockStatus _id}}" data-lat={{geolocation.lat}} data-long={{geolocation.long}} data-location={{_id}}>{{unlockStatus _id}}</p>
          <p>{{description}}</p>
          <div class="clear-fix"></div>
        </li>
      {{/each}}
    </ul>
    <div class="popup-holder">
      {{> popup}}
    </div>
    <div class="popup-badge-holder">
      {{> popupBadge}}
    </div>
  </div>
</template>
