<template name="popup">
  <div class="overlay background">
    <div class="popup centered">
      <h2>Congratulations!</h2>
      <p>By checking into the Houston Technology Center, you earned <strong>{{points}} points</strong>!</p>
      <div class="share">
        <img src="../share.png">
        <p>SHARE</p>
      </div>
      <div class="share-btn">
        <p>OK</p>
      </div>
    </div>
  </div>
</template>

<template name="popupBadge">
  <div class="overlay background">
    <div class="popup centered">
      <h2>Congratulations!</h2>
      <p>You've earned the <strong class='badge-name'></strong> badge!</p>
      <div class="badge">
      </div>
      <div class="share-btn">
        <p>OK</p>
      </div>
    </div>
  </div>
</template>

